//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

zone "ptdr.fr" {
    type master;
    allow-transfer
    {
       172.20.0.11;
    };
    allow-query { any; };
    notify yes;
    file "/etc/bind/db.ptdr.fr";
};
